<!-- Héritage de template ? Block(s) ? -->
{% extends "base.html" %}
{% block main %}
<div class="grid">
    <article>
        <h2>Discover the {{ resp["name"] }}</h2>

        <div class="description">
            {{resp["description"]}}
        </div>

        <div class="card">
            <img src="{{ resp.avatar }}" alt="{{ resp.slug }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ resp["name"] }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ resp["name_meaning"] }}</dd>
                <dt>Diet</dt>
                <dd>{{ resp["diet"] }}</dd>
                <dt>Height</dt>
                <dd>{{ resp["height"] }} m.</dd>
                <dt>Length</dt>
                <dd>{{ resp["length"] }} m.</dd>
                <dt>Weight</dt>
                <dd>{{ resp["name"] }} {{ resp["weight"] }}kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
    </aside>
</div>
{%endblock%}

